@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  font-size: 1.5rem;
}

/* HEADER */

.header-disp {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.disp-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 4rem;
  background-color: rgb(255, 165, 133);
  padding: 0.7rem 12px;
  border-radius: 4px;
  width: 150px;
  height: 20px;
}

.disp-1 button {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 5px 7px;
  background-color: #007bff;
  color: #fff;
}

.disp-2 {
  margin-right: 4rem;
  background-color: rgb(148, 222, 251);
  padding: 0.7rem 12px;
  border-radius: 4px;
  width: 150px;
  height: auto;
}

.disp-3 {
  margin-right: 4rem;
  background-color: rgb(155, 255, 210);
  padding: 0.7rem 12px;
  border-radius: 4px;
  width: 150px;
  height: auto;
}

/* SEARCH */

.search {
  margin-top: 2rem;
  padding: 0 10%;
}

h2 {
  font-size: 1.4rem;
  margin: 5px 0;
}

.search input {
  border: #a1a1a194 solid 1px;
  border-radius: 4px;
  padding: 4px;
  outline: none;
  width: 100%;
}

/*  EXPENSES */
.expenses-list {
  margin-top: 15px;
  padding: 0 10%;
}

.expense {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #a1a1a148;
  padding: 7px;
  border-radius: 4px;
}

.exp-left p {
  font-size: 14px;
  margin: 0 7px 0;
}

.exp-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 7px 0 0;
}

.exp-right p {
  margin: 0 15px 0 0;
  font-size: 10px;
  font-weight: 700;
  background-color: #007bff;
  color: #fff;
  padding: 2px 4px;
  border-radius: 4px;
}

.exp-right i {
  font-size: 0.9rem;
  cursor: pointer;
}

/* ADD  */

.add-exp {
  margin-top: 2rem;
  padding: 0 10%;
}

.add-exp p {
  margin: 0;
}

.exp-form {
  display: flex;
  align-items: center;
}

.cost {
  margin-left: 15px;
}
.add-exp input {
  border: #a1a1a194 solid 1px;
  border-radius: 4px;
  padding: 4px 7px;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  --webkit-appearance: none;
  margin: 0;
}

.add-exp button {
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 7px;
  cursor: pointer;
}

.add-exp button:hover {
  background-color: #0455ad;
  transition: all 0.25s;
}
